<mat-card class="widget">
  <mat-card-header class="center-card-elements">
    <mat-card-title>Suche dein Lieblingspokémon (nur Kanto Region):</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <mat-form-field class="responsive-input">
      <mat-label>Pokémon Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button *ngIf="name != ''" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      </button>
      <mat-error *ngIf="error != ''">{{ error }}</mat-error>
    </mat-form-field>
    <br>
    <img *ngIf="image" [src]="image" class="responsive-image" alt="Pokemon Image"/>
  </mat-card-content>
  <br>
  <mat-card-actions class="center-card-elements">
    <button (click)="getPokemon()" mat-raised-button color="primary" [disabled]="name == ''">Suche</button>
  </mat-card-actions>
</mat-card>
