<mat-card class="widget">
  <mat-card-header class="center-card-elements">
    <mat-card-title>Herkunftsorakel</mat-card-title>
    <mat-card-subtitle>Berechnet die Wahrscheinlichkeit der Länder, aus denen dein Name stammt</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="responsive-input">
      <mat-label>Dein Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button *ngIf="name != ''" matSuffix mat-icon-button aria-label="Clear" (click)="guessNationality()">
      </button>
      <mat-error *ngIf="error != ''">{{ error }}</mat-error>
    </mat-form-field>
    <p *ngFor="let guess of displayGuess">
      <b>{{guess['german']}}: </b>{{guess['probability'] | probabilityMultiplier}}%
    </p>
  </mat-card-content>
  <br>
  <mat-card-actions  class="center-card-elements">
    <button (click)="guessNationality()" mat-raised-button color="primary" [disabled]="name == ''">Berechnen</button>
  </mat-card-actions>
</mat-card>

