<mat-card class="content-card">
  <mat-card-header>
    <mat-card-title>Über mich</mat-card-title>
  </mat-card-header>
  <!-- TODO: Add picture -->
  <mat-card-content><span matLine> Hallo! Mein Name ist Keijo Nierula. Ich bin Softwareentwickler und wohne in Bern.
    Zurzeit bin ich bei der PostFinance AG angestellt und studiere Wirtschaftsinformatik an der Berner Fachhochschule.
    <br>
    Diese Portfolioseite soll ein bisschen was über mich erzählen und ich habe auch ein paar lustige kleine Widgets zum
    Herumspielen hinzugefügt.
    <br>
    Meine Hobbies sind Fussball, Basketball, Gaming und Programmieren. Ich bin ein grosser Fan von Borussia Dortmund. Zu
    meinen Interessen gehören auch die Blockchain Technologie und Kryptowährungen.
    <br>
    Viel Spass!
  </span>
  </mat-card-content>
  <mat-card-actions class="center-card-elements">
    Meine Links:
    <button class="contact-button" mat-raised-button color="primary"
            onclick="window.location.href='https://github.com/kane17';">GitHub
    </button>
    <!--                <button class="contact-button" mat-raised-button color="primary" onclick="window.location.href='mailto:keijo.nierula@bluewin.ch';">Contact me</button>-->
    <button class="contact-button" mat-raised-button color="primary"
            onclick="window.location.href='https://www.linkedin.com/in/keijo-n-492429142/';">LinkedIn
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="content-card">
  <mat-card-header>
    <mat-card-title>Meine Tätigkeiten</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle class="responsive-span">Software Engineer bei PostFinance AG (2019 - heute)</span>
        <span matListItemLine
              class="responsive-span">Entwicklung von Business Applikationen in Java mit Spring Boot</span>
        <!-- TODO: Add icon -->
        <span matListItemLine class="responsive-span">Konzeption und Entwicklung von Blockchain Applikationen in verschiedenen Use Cases</span>
        <span matListItemLine
              class="responsive-span">Betrieb und Administration von Hyperledger Fabric Blockchains</span>
        <span matListItemLine class="responsive-span">Betreuung von Lernenden Informatiker EFZ</span>
        <span matListItemLine class="responsive-span">Entwicklung und Betrieb von produktiven Applikationen nach dem DevOps Ansatz</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="content-card">
  <mat-card-header>
    <mat-card-title>Ausbildung</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle class="responsive-span">Bachelor of Science in Wirtschaftsinformatik</span>
        <span matListItemLine class="responsive-span">Berner Fachhochschule</span>
        <span matListItemLine class="responsive-span">(2021 - heute)</span>
        <span matListItemLine class="responsive-span">Vertiefung in Business Data Analytics</span>
      </mat-list-item>
      <br>
      <mat-list-item>
        <span matListItemTitle class="responsive-span">Informatiker EFZ</span>
        <span matListItemLine class="responsive-span">PostFinance AG</span>
        <span matListItemLine class="responsive-span">(2015 - 2019)</span>
        <span matListItemLine class="responsive-span">Fachrichtung Applikationsentwicklung</span>
        <span matListItemLine class="responsive-span">mit Berufsmaturität</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="content-card">
  <mat-card-header>
    <mat-card-title>Meine Skills</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Java</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Hyperledger Fabric</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="75" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Scrum</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>DevOps (Gitlab, Kubernetes)</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Angular / Typescript</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="50" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>R</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="45" color="primary"></mat-progress-bar></span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Golang</span>
        <span matListItemLine><mat-progress-bar mode="determinate" value="30" color="primary"></mat-progress-bar></span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


