<mat-tab-group animationDuration="500ms" color="accent">
    <mat-tab label="Who is Keijo?">
        <mat-card class="content-card">
            <mat-card-content>Hi! My name is Keijo Nierula. I am a Software Engineer based in Bern, Switzerland.
                I am currently employed at PostFinance AG and working on my Bachelor's degree.
                <br>
                This Portfolio Page should tell a little bit about myself and also I added some fun little widgets to try out, which consume data from APIs.
                <br>
                <br>
                My Interests include Cryptocurrencies, Sports (Football, Basketball), Gaming and Movies.
            </mat-card-content>
            <mat-card-actions>
                My links:
                <button class="contact-button" mat-raised-button color="primary" onclick="window.location.href='https://github.com/kane17';">GitHub</button>
                <button class="contact-button" mat-raised-button color="primary" onclick="window.location.href='mailto:keijo.nierula@bluewin.ch';">Contact me</button>
                <button class="contact-button" mat-raised-button color="primary" onclick="window.location.href='https://www.linkedin.com/in/keijo-n-492429142/';">LinkedIn</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Work Experience / Education"></mat-tab>
    <mat-tab label="Skills"></mat-tab>
</mat-tab-group>
