.content-card {
  margin: 5%;
  max-width: 95%;
}

.contact-button {
  margin: 1%;
}

mat-list-item {
  height: auto !important;
}

.skillSlider {
  width: 50%;
}

//.skillSlider input {
//  color: #ffcc00 !important;
//}
