.responsive-span {
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.contact-button {
  margin: 1%;
}

mat-list-item {
  height: auto !important;
}

.skillSlider {
  width: 50%;
}

//.skillSlider input {
//  color: #ffcc00 !important;
//}
